<!--
    settings view for the RRAC plugin
-->
<h2>RRAC settings</h2>
<table style="min-width:100%">
    <tbody>
        <tr>
            <th style="min-width:15%">
                Resources
            </th>
            <td>
                <textarea id="settings_redmine_rrac_resources" 
                          name="settings[redmine_rrac_resources]">
                    <%= settings['redmine_rrac_resources'] %>
                </textarea>
            </td>
            <td>                    
                List of user resources in format "&lt;name>: &lt;host&gt;:&lt;port&gt;/&lt;endpoint&gt; [&lt;user&gt;/&lt;password&gt;]"
            </td>
        </tr>
        <tr>
            <th style="min-width:15%">
                Actions
            </th>
            <td>
                <textarea id="settings_redmine_rrac_actions"
                          name="settings[redmine_rrac_actions]" >
                    <%= settings['redmine_rrac_actions'] %>
                </textarea>
            </td>
            <td>
                List of user resources in format "name: &lt;resource&gt;: [&lt;parameter&gt;: &lt;value ref&gt; [, &lt;parameter&gt;: &lt;value ref&gt;]...]
                You can user references to Issue, User and Project as variables
            </td>
        </tr>
  </tbody>
</table>
